$webinar-card-font-family: Lato, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
Helvetica, Arial, sans-serif !default;
$webinar-card-shadow: rgba(0, 0, 0, 0.15) 0px 2px 10px 0px !default;
$webinar-card-hover-shadow: 0 10px 20px rgba(220, 220, 220, 0.5) !default;
$webinar-card-transition: .3s ease !default;
$page-content-width-stretch-breakpoint: 760px !default;

.webinar-card {
  width: 240px;
  margin: 0 20px 25px 0;
  min-height: 200px;
  max-height: 300px;

  font-family: $webinar-card-font-family;
  color: #000;

  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: $webinar-card-shadow;

  box-sizing: border-box;


  display: flex;
  flex-direction: column;
  justify-content: stretch;

  overflow: hidden;
  position: relative;
  text-rendering: optimizeLegibility;
  transition: all $webinar-card-transition;
  will-change: transform, box-shadow;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;

  &:hover {
    box-shadow: $webinar-card-hover-shadow;
    transform: translateY(-4px);
  }

  @media screen and (max-width: $page-content-width-stretch-breakpoint - 1) {
    width: 100%;
    margin: 0 0 15px 0;
  }
}

.webinar-card-image {
  width: 100%;
  min-height: 150px;
  background-position: 50% 50%;
  background-position-x: 50%;
  background-position-y: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px 10px 0px 0px;
  box-sizing: border-box;
  transition: all $webinar-card-transition;
  will-change: transform;

  @at-root .webinar-card:hover & {
    transform: scale(1.02);
  }
}

.webinar-card-header {
  padding: 20px;
}

.header-name-title {
  font-size: 22px;
  font-weight: 600;
  color: inherit;
}

.header-author {
  font-size: 16px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.4);
}
