<nav class="navbar navbar-expand-md no-gutters navbar-dark bg-dark">
  <div class="col-2 text-left">
    {{#link-to 'application' class='navbar-brand'}}
      Webinar Platform
    {{/link-to}}
  </div>

  <div class="collapse navbar-collapse justify-content-center col-md-8 navbar-collapse-3">
    <ul class="navbar-nav justify-content-center">
    </ul>
  </div>

  <div class="collapse navbar-collapse justify-content-end col-md-2 navbar-collapse-3">
    <ul class="navbar-nav">
      <li class="nav-item">
        {{#if session.isAuthenticated}}
          <button type='button' class='btn btn-link no-underline text-white'>
            {{currentUser.user.name}}
          </button>
        {{/if}}
      </li>
      <li class="nav-item">
        {{#if session.isAuthenticated}}
          <button {{action 'invalidateSession'}} type='button' class='btn btn-link no-underline text-white'>
            Log Out
          </button>
        {{/if}}
      </li>
    </ul>
  </div>
</nav>