{{#do-form this submit=(perform emailAuthentication) class='mt-3' as |f|}}
  {{#if authError}}
    {{error-message errorMsg=authError}}
  {{/if}}
  {{f.input-field 'identification' controlType='email' label='Email' placeholder='Type your email'
                  hint='example@mail.com'}}
  {{f.input-field 'password' controlType='password' label='Password' placeholder='Type your password'}}

    <button type='submit' class='btn btn-outline-primary w-100' data-test-submit-button>
      {{if emailAuthentication.isIdle 'Sign in' 'Signing in...'}}
    </button>
  <p class="lead mt-4">
    No Account? <a href="/signup">Sing Up</a>
  </p>
{{/do-form}}
