{{#do-form this submit=(perform userCreating) class='mt-3' as |f|}}
  {{#if inputErrors}}
    {{#each inputErrors as |err|}}
      {{error-message errorMsg=err}}
    {{/each}}
  {{/if}}
  {{f.input-field 'email' controlType='email' label='Email' placeholder='Type your email' hint='example@mail.com'}}
  {{f.input-field 'name' controlType='text' label='Name' placeholder='Type your name'}}
  {{f.input-field 'password' controlType='password' label='Password' placeholder='Type your password'}}
  {{f.input-field 'confirmPassword' controlType='password' label='Confirm password' placeholder='Repeat your password'}}

  <button type='submit' class='btn btn-outline-primary w-100' data-test-submit-button>
    {{if userCreating.isIdle 'Sing Up' 'Signing up...'}}
  </button>
  <p class="lead mt-4">
    Have An Account? <a href="/login">Login</a>
  </p>
{{/do-form}}
