<div class="webinar-card">
  <div class="webinar-card-image" style={{webinar.imageStyle}}></div>
  <div class="webinar-card-header">
    <div class="header-name-title">{{webinar.title}}</div>
    <div class="header-author">{{webinar.user.name}}</div>
  </div>
</div>
